<?php
/**
 * @var $block \Kowal\Warianty\Block\Warianty
 */

$currentSku = $block->getCurentProductSku();

if ($group_wariants = $block->getWariants($currentSku)) {
    ?>
    <div class="warianty-list">
        <?php
        foreach ($group_wariants as $wariants) {


            foreach ($wariants as $grupa => $produkty) {

                $OptionsSwatch = $block->getSwatchImages($grupa);

                $displayVariantAs = $block->displayVariantAs($produkty['display_variant_as']);

                if ($displayVariantAs == 'dropdown') {
                    ?>
                    <div class="product-options-wrapper" id="product-options-wrapper">
                        <div class="fieldset" tabindex="0">


                            <div class="field configurable required">
                                <label class="label" for="grupa_<?= $grupa ?>">
                                    <span><?php echo (isset($produkty['label'])) ? $produkty['label'] : $block->getDefaultLabel(); ?></span>
                                </label>
                                <div class="control">
                                    <select name="wariant_select" id="grupa_<?= $grupa ?>"
                                            class="super-attribute-select" aria-required="true"
                                            data-mage-init='{ "onClickVariants":{ "blank": 0 } }'>
                                        <?php
                                        ksort($produkty['products']);
                                        foreach ($produkty['products'] as $option_value => $wariant) {

                                            if( $currentSku == $wariant->getSku()){
                                                if( !$produkty['display_selected'] ) continue;
                                            }

                                            // file_put_contents("_warianrt.txt",$option_value.PHP_EOL, FILE_APPEND);
                                            $isInStock = ($wariant->isAvailable()) ? "warianty-dostepny" : "warianty-niedostepny";
                                            $selected = ($currentSku == $wariant->getSku()) ? "selected" : "";
                                            $swatch = (isset($produkty['swatch']) && !empty($produkty['swatch'])) ? "warianty-list-swatch" : "warianty-list-img";


                                            ?>
                                            <option value="<?= $wariant->getProductUrl(); ?>"
                                                    class="warianty-list-link <?= $isInStock ?> <?= $selected ?> <?= $swatch ?>" <?= $selected ?>>
                                                <?php if (isset($produkty['swatch']) && !empty($produkty['swatch'])) {
                                                    $getAttrib = 'get' . $block->dashesToCamelCase($grupa);
                                                    if ($optionId = $wariant->$getAttrib()) {
                                                        echo $wariant->getResource()->getAttribute($grupa)->getFrontend()->getValue($wariant);
                                                    }
                                                    ?>
                                                <?php } else { ?>
                                                    <?= $wariant->getName(); ?>
                                                <?php } ?>
                                            </option>
                                            <?php
                                        }
                                        ?>
                                    </select>
                                </div>
                            </div>


                        </div>
                    </div>

                <?php } else { ?>

                    <div class="warianty-grupa">
                        <h3><?php echo (isset($produkty['label'])) ? $produkty['label'] : $block->getDefaultLabel(); ?></h3>
                        <div id="grupa_<?= $grupa ?>" data-mage-init='{ "OwlCarousel":{
                             "autoPlay": 3000,
                             "items": 5,
                             "lazyLoad": true,
                             "itemsDesktop": [1400, 6],
                             "itemsDesktopSmall": [1100, 5],
                             "itemsTablet": [700, 4],
                             "itemsMobile": [320, 3]
                       }
                     }
                     '>
                            <?php
                            ksort($produkty['products']);
                            foreach ($produkty['products'] as $option_value => $wariant) {
                                // file_put_contents("_warianrt.txt",$option_value.PHP_EOL, FILE_APPEND);

                                if( $currentSku == $wariant->getSku()){
                                    if( !$produkty['display_selected'] ) continue;
                                }

                                $isInStock = ($wariant->isAvailable()) ? "warianty-dostepny" : "warianty-niedostepny";
                                $selected = ($currentSku == $wariant->getSku()) ? "selected" : "";
                                $swatch = (isset($produkty['swatch']) && !empty($produkty['swatch'])) ? "warianty-list-swatch" : "warianty-list-img";


                                ?>
                                <a href="<?= $wariant->getProductUrl(); ?>" title="<?= $wariant->getName(); ?>"
                                   class="warianty-list-link <?= $isInStock ?> <?= $selected ?> <?= $swatch ?>">
                                    <?php if (isset($produkty['swatch']) && !empty($produkty['swatch'])) {
                                        $getAttrib = 'get' . $block->dashesToCamelCase($grupa);
                                        if ($optionId = $wariant->$getAttrib()) {
                                            if (isset($OptionsSwatch[$optionId]['image']) && !empty($OptionsSwatch[$optionId]['image'])) {
                                                echo "<img  class=\"warianty-swatch\" src=\"" . $OptionsSwatch[$optionId]['image'] . "\"/>";
                                            } else {
                                                echo "<span class=\"warianty-swatch\">" . $wariant->getResource()->getAttribute($grupa)->getFrontend()->getValue($wariant) . "</span>";
                                            }
                                        } else {
                                            echo "<span class=\"warianty-swatch\">" . $wariant->getResource()->getAttribute($grupa)->getFrontend()->getValue($wariant) . "</span>";
                                        }
                                        ?>
                                    <?php } else { ?>
                                        <img class="warianty-img" src="<?= $block->getImage($wariant); ?>"/>
                                    <?php } ?>
                                </a>
                                <?php
                            }
                            ?>
                        </div>
                    </div>

                    <?php
                }
            }
        }

        ?>
    </div>

<?php } ?>