//
//  Variables
//  _____________________________________________

@active-border-color: #aaa;
@inactivee-border-color: #a5a5a5;
@selected-border-color: #000000;


//
//  Common
//  _____________________________________________

& when (@media-common = true) {

  .warianty-list {
    border-bottom: 1px solid #c1c1c1;
    margin-bottom: 15px;

    .warianty-grupa {
      display: block;
      padding: 5px 0px 15px 0px;
    }

    .warianty-list-link {
      border: solid 1px;
      display: inline-block;
      max-width: 100px;
      padding: 0px;
      border-radius: 6px;
      text-align: center;

      &.selected {
        border-color: @selected-border-color !important;
        box-shadow: 0px 0px 5px black;
      }

      &.warianty-dostepny {
        border-color: @active-border-color;
      }

      &.warianty-niedostepny {
        border-color: @inactivee-border-color;
      }

      &.warianty-list-swatch {
        padding: 5px;
        margin: 5px;
      }

      &.warianty-list-img {
        padding: 5px;
        margin: 5px;

        .warianty-img {

        }
      }
    }
  }
}

//
//  Mobile @screen__m
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  .warianty-list {
    .warianty-list-link {
      max-width: 160px;
      min-width: 50px;
    }
  }
}

//
//  Mobile @screen__s
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
  .warianty-list {
    .warianty-list-link {
      max-width: 140px;
      min-width: 50px;
    }
  }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .warianty-list {
    .warianty-list-link {
      max-width: 120px;
      min-width: 50px;
    }
  }
}

//
//  Desktop large
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {

}

